.cartData {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 6px;
  overflow: hidden;
  margin: 0 auto;
  max-height: 57px;
  transition: all 0.5s;
  margin-bottom: 40px;

  &--open {
    max-height: 1000px;
    // overflow: auto;
  }

  &__title {
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .125);

    i {
      margin-left: 10px;
      transition: all 0.3s;
    }

    .active {
      transform: rotate(180deg);
    }
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
  }

  table {
    width: 100%;

    thead {
      background-color: #4e4e4e;
      color: #fff;
    }

    tbody {
      background-color: rgb(255, 255, 255);
    }

    td,
    th {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    tr {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-left: 1px solid rgba(0, 0, 0, .125);
      border-right: 1px solid rgba(0, 0, 0, .125);
      border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

    .t-s {
      width: 80px;
    }

    .t-m {
      width: 130px;
    }


    .t-xl {
      flex: 1;
    }

    .delete {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        cursor: pointer;
        color: rgb(235, 34, 34);
        transition: all 0.3s;

        &:hover {
          color: rgb(161, 23, 23);
        }
      }
    }

    .img {
      width: 50px;
      height: 50px;
      background-image: url('https://storage.googleapis.com/vue-course-api.appspot.com/roya%2F1568791119155.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=qZeItsbvyc5T8s2ZkZV%2Bujt6BhWkoiapsf%2FpGbXWxknyn2HmvSXBaz2S0uU%2FTEBj%2B%2BLWe3q2uwqHq0HTDeDPZX4rcEDEAqUh2QNDkwi7Ej1WTg742KZiLskgJMdWVya2aEHVnf2%2Bu6INMvDsir7qwChOAyE6unwcT0l%2BPIIWE27ARVjz3TiMwQYNk4NWru9A0hMmsdr1NkNzHQvkUW9tME77tPBn9liaZwHtbkD%2BXpMjc0JIhX55NNrdDVnIBjSMsqv6AX%2FQ%2FGwhuPLOFG9daBVnFFS7qxoDJ9H78Fc2qYFzO13Q53KTqurHRd6VUQxtwv1WM8BWDVwLocOWMTEXGw%3D%3D');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .name {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      font-size: 15px;
      width: 100%;

      p {
        line-height: 1.3;
        color: #333;
      }

      .discount {
        margin-top: 6px;
        margin-left: 10px;

        span {
          display: block;
          background-color: #da7b22;
          text-align: center;
          height: 20px;
          line-height: 20px;
          color: #fff;
          width: 60px;
          font-size: $font-xxs - 1.5;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            width: 0;
            height: 0;
            border-color: transparent #da7b22 transparent transparent;
            border-style: solid;
            border-width: 10px 10px 10px 0;
          }

          &:after {
            content: "";
            position: absolute;
            top: 8px;
            left: 1px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #fff;
            box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
          }
        }
      }
    }

    .count {
      color: #303030;
    }

    .total {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #4ca74c;

      .o-price {
        &--delete {
          text-decoration: line-through;
          color: #333;

        }
      }

      .final-price {
        margin-top: 10px;
      }
    }
  }

  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    .count {
      font-size: 15px;
      color: #333;

      span {
        margin: 0px 6px;
      }
    }

    .price {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 12px;
      font-size: 14px;
      color: #333;

      span {
        margin: 0px 16px;
      }

      .totalPrice {
        width: 100px;
        text-align: right;
        margin-right: 0;
        margin-left: 0;
        color: #4ca74c;
        font-size: 19px;

        &--disabled {
          color: #333;
          text-decoration: line-through;
        }
      }
    }
  }
}
