.orderDetail {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #4e4e4e;
    border-bottom: 2px solid #4e4e4e;
    width: 100%;
    padding: 8px 0px;

    i {
      font-size: $font-m + 1;
    }

    h3 {
      font-size: $font-s;
      margin-left: 10px;
    }
  }

  .checkOrder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 10px;
  }

  .sectionTitle {
    color: #979797;
    margin-top: 16px;
    font-size: $font-xs;
  }

  .userData {
    width: 50%;

    &__title {
      display: block;
      color: #4e4e4e;
      margin-top: 20px;
      font-size: $font-xs - 1;
    }

    &__row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 8px;
      width: 80%;

      .icon {
        width: 45px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #fff;
        background-color: #4e4e4e;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &__content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      line-height: 1.2;
      width: 100%;
      padding-left: 10px;
      font-size: $font-xs;
      color: #4e4e4e;
      font-family: '微軟正黑體';
    }

    &__remark {
      font-family: '微軟正黑體';
      margin-top: 10px;
      width: 80%;
      line-height: 1.4;
      font-size: $font-xs;
      color: #4e4e4e;
    }
  }

  .orderData {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 22px;

      &__item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #dfdfdf;
        font-size: $font-xs - 1;
        color: #4e4e4e;
        padding: 20px 0px;
      }

      i {
        margin-left: 10px;
      }

      p {
        margin-left: 8px;
      }

      .pay {
        color: rgb(211, 33, 33);

        &--isPay {
          color: #4ca74c;
        }
      }

    }

    .btn {
      margin-top: 20px;
      padding: 8px 30px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
      font-family: '微軟正黑體';
      font-size: $font-xxs;

      &--pay {
        background-color: #4e4e4e;
        color: #fff;
        border: 1px solid #4e4e4e;

        &:hover {
          background-color: rgba(255, 255, 255, 0);
          color: #4e4e4e;
        }
      }

      &--reset {
        background-color: #4ca74c;
        color: #fff;
        border: 1px solid #4ca74c;

        &:hover {
          background-color: rgba(255, 255, 255, 0);
          color: #4ca74c;
        }
      }

      &:focus{
        outline: none;
      }

      i {
        margin-left: 10px;
      }
    }

  }
}
