.userHome {
  position: relative;
  background-color: #f8f9f8ef;

  .title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(190, 189, 189);

    .name {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: -2px;
      padding: 0px 10px;
      color: #d33535;

      h3 {
        padding: 20px 0px;
        font-size: $font-s;
        font-weight: bold;
      }

      i {
        margin-right: 10px;
        font-size: $font-l;
      }

      &--like {
        border-bottom: 2px solid #d33535;

        i {
          color: #d33535;
        }
      }
    }


    .more {
      font-family: '微軟正黑體';
      padding: 8px 24px;
      border: 1px solid #4a4a4a;
      background-color: rgba(255, 255, 255, 0);
      color: #4a4a4a;
      margin-top: 4px;
      transition: all 0.3s;
      cursor: pointer;
      text-decoration: none;
      font-size: $font-xxs;

      &:hover {
        background-color: #4a4a4a;
        color: #fff;
      }

      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px #4a4a4a;
      }
    }
  }

  .classCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 240px;
    transition: all 0.3s;

    .card {
      width: 90%;
      height: 180px;
      text-decoration: none;
      border-radius: 8px;
      transition: all 0.3s;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgb(109, 109, 109);

      &:hover {
        width: 85%;
        height: 170px;
      }

      .img {
        width: 100%;
        height: 100%;
        background-image: url(~@/assets/img/class1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(238, 238, 238);
        font-size: $font-m;
        font-weight: bold;

        &--class1 {
          background-image: url(~@/assets/img/class1.jpg);
        }

        &--class2 {
          background-image: url(~@/assets/img/class2.jpg);
        }

        &--class3 {
          background-image: url(~@/assets/img/class3.jpeg);
        }

        &--class4 {
          background-image: url(~@/assets/img/class4.jpg);
        }

        &--class5 {
          background-image: url(~@/assets/img/class5.jpg);
        }

        &--class6 {
          background-image: url(~@/assets/img/class6.jpg);
        }
      }
    }
  }

  .couponCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 0px;

    h4 {
      margin-left: 80px;
      font-size: $font-m;
      color: #4a4a4a;
      font-weight: bold;
    }

    p {
      margin-left: 80px;
      margin-top: 12px;
      line-height: 1.5;
      font-size: $font-xxs;
      color: #4a4a4a;
    }

    a {
      margin-top: 10px;
      margin-left: 80px;
      text-decoration: none;
      background-color: #4a4a4a;
      color: #fff;
      border: 1px solid #4a4a4a;
      padding: 10px 50px;
      border-radius: 5px;
      font-size: $font-xs;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #4a4a4a;
      }

      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px #4a4a4a;
      }
    }
  }

  .productCard {
    margin-top: 26px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 20px 40px 100px 40px;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 10px;
    border: 1px solid rgb(238, 238, 238);

    &:hover .detail {
      top: 0px;
    }

    &:hover {
      box-shadow: 0px 0px 10px rgb(109, 109, 109);
    }

    .detail {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -239px;
      background-color: rgba(255, 255, 255, 0.205);
      transition: all 0.3s;

      &__view {
        margin: 100px 0px;
        padding: 10px 12px;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid #fff;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: #fff;
          color: #333333;
        }

        &:focus {
          outline: none;
        }

      }
    }

    .img {
      width: 100%;
      height: 200px;
      background-image: url("https://s.yimg.com/zp/images/EC1BF93E7EE1BBDC4F062500F7AA1CB76DF1F8A7");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .content {
      z-index: 10;
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding: 10px 20px 0px 20px;
      background-color: rgb(255, 255, 255);
      transition: all 0.3s;

      h4 {
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
      }

      .group {
        padding-top: 10px;
        font-size: $font-xs;
        color: #ddae12;
        padding-bottom: 20px;

        i {
          margin-right: 10px;
        }
      }
    }
  }

  .trackCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;

    p {
      text-align: center;
      // margin-left: 60px;
      line-height: 2;
      font-size: $font-m;
      color: #4a4a4a;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .error {
      box-shadow: 0px 0px 5px #e03838;
    }

    input {
      width: 100%;
      // margin-top: 30px;
      border: none;
      border-bottom: 2px solid #4a4a4a;
      background-color: rgba(255, 255, 255, 0);
      font-size: $font-s;
      padding: 8px 0px;
      font-family: "微軟正黑體";
      color: #4a4a4a;
      margin-top: 20px;
      padding-left: 8px;

      &:focus {
        outline: none;
      }
    }

    button {
      font-family: "微軟正黑體";
      position: absolute;
      padding: 10px 30px;
      margin-top: 10px;
      right: 40px;
      background-color: #4a4a4a;
      color: #fff;
      border: 1px solid #4a4a4a;
      font-size: $font-xs - 1;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #333333;
      }

      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px #4a4a4a;
      }
    }
  }

}
